@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: Roboto;
}

/* banner */
#banner{
    display: flex;
    padding: 0%;
    width: 100%;
}

#bannerImagem1{
    width: 30%;
}

#bannerImagem2{
    width: 70%;
}

#cabecalho{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #e8e6e6;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

a{
    color:black;
    text-decoration: none;
    font-family: Roboto;
    font-weight: bold;
}

/* Textos */
#textos{
    display: flex;
}

.tituloTextos{
    width: 95%;
    background-color: black;
    color: white;
    padding: 10px 2.5%;
}

#textos p, #textos h5{
    margin: 20px;
}

#servicos{
    width: 75%;

}

#agenda{
    width: 25%;
}

/* mensagem */
#mensagem{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
}

#mensagem p{
    margin-left: 20px;
}

#rodape{
    width: 100%;
    padding: 10px 0px;
    background-color: black;
    color: white;
}

#rodape p{
    margin-left: 20px;
}

